.container {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-bottom: 24px;
  cursor: pointer;
}

.main, .enterPledge {
  padding: 24px;
}

.containerSelected {
  border: 2px solid var(--moderate-cyan);
}

.containerDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.header h2 {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 17px;
}

.header span {
  color: var(--moderate-cyan);
  display: inline-block;
  margin-top: 8px;
  line-height: 17px;
}

.radioButton {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 12px;
  position: relative;
  margin-right: 16px;
}

.radioButtonSelected::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: var(--moderate-cyan);
}

.nbLeft {
  margin-top: 24px;
}

.nbLeft strong {
  color: black;
  font-size: 18px;
  line-height: 22px;
  margin-right: 8px;
}

.nbLeft span {
  display: inline-flex;
}

.enterPledge {
  transition: max-height .8s ease-in;
  transition: opacity .3s ease-in;
  border-top: 2px solid rgb(151 151 151 / 15%);
  text-align: center;
  max-height: 1000px;
  opacity: 1;
}

.enterPledgeHidden {
  transition: max-height .2s ease-out;
  transition: opacity .2s ease-out;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 0;
  border: none;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputSymbolDollar {
  display: flex;
  align-items: center;
  width: 100px;
  height: 48px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 33px;
}

.inputSymbolDollar::before {
  content: "$";
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.15);
  position: relative;
  left: 24px;
}

.inputSymbolDollar input {
  background: transparent;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 32px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}
